{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ _('DataTables using model: %(model_name)s', model_name=model.name) }}</h1>
    <a href="{{ url_for('core_models.manage_models') }}" class="btn btn-secondary mb-3">← {{ _('Back to Models') }}</a>

    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ _('Date') }}</th>
                        <th>{{ _('Group') }}</th>
                        <th>{{ _('Project') }}</th>
                        <th>{{ _('Created By') }}</th>
                        <th>{{ _('Actions') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for datatable in datatables %}
                        <tr>
                            <td>{{ datatable.date }}</td>
                            <td><a href="{{ url_for('groups.get_group', group_id=datatable.group.id) }}">{{ datatable.group.name }}</a></td>
                            <td><a href="{{ url_for('projects.view_edit_project', project_slug=datatable.group.project.slug) }}">{{ datatable.group.project.name }}</a></td>
                            <td>{{ datatable.creator.email }}</td>
                            <td>
                                <a href="{{ url_for('datatables.view_data_table', datatable_id=datatable.id) }}" class="btn btn-sm btn-info">{{ _('View') }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
